.order-detail-main {
  margin-top: 18px;
  padding: 30px 25px;
  border: 1px solid #E2E2E2;
  width: 980px;
  .confirm-btn-box {
    text-align: center;
    margin-top: 40px;
    > button {
      width: 100px;
      height: 40px;
      //line-height: 40px;
      text-align: center;
    }
  }
  .left{
    float: left;
    width: 85px;
    font-size: 12px;
    color: #999999;
  }
  .right {
    float: right;
    width: 835px;
    .buy-require-desc {
      margin-top: 15px;
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #666666;
      line-height: 24px;
    }
    // 发票信息
    .invoice-info-list {
      font-size: 0;
      border: 1px solid #E2E2E2;
      border-bottom: none;
      width: 520px;
      .invoice-info-item {
        font-size: 0;
        line-height: 40px;
        height: 40px;
        width: 520px;
        &:after {
          clear: both;
        }
        .info-item-label {
          float: left;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: inline-block;
          font-size: 12px;
          color: #333333;
          width: 120px;
          height: 40px;
          padding-left: 10px;
          background: #F9F9F9;
          border-right: 1px solid #E2E2E2;
          border-bottom: 1px solid #E2E2E2;
        }
        .info-item-value {
          float: left;
          display: inline-block;
          font-size: 12px;
          color: #333333;
          width: 400px;
          height: 40px;
          padding-left: 20px;
          border-bottom: 1px solid #E2E2E2;
        }
      }
    }
  }
  .icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-right: 4px;
  }
  .affirm {
    font-size: 12px;
    color: #21B065;
  }
  .reject {
    font-size: 12px;
    color: #F18115;
  }
  .prepare {
    .btn {
      width: 50px;
      height: 24px;
      border-radius: 2px;
      cursor: pointer;
    }
    .yes {
      background-image: linear-gradient(-180deg, #3ACA78 0%, #21A75A 100%);
      border: 1px solid #2BB566;
      font-size: 12px;
      color: #FFFFFF;
      margin-right: 10px;
    }
    .no {
      font-size: 12px;
      color: #333333;
      background-image: linear-gradient(-180deg, #FFFFFF 0%, #F6F6F6 100%);
      border: 1px solid #E2E2E2;
    }
  }
  .green {
    background-color: green;
  }
  .red {
    background-color: red;
  }
  .order-detail-header {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid #E2E2E2;
    .detail-header-left {
      flex: 1;
      overflow: hidden;
      .detail-header-title {
        width: 100%;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 16px;
        color: #333333;
        line-height: 22px;
        text-align: center;
      }
      .detail-header-desc {
        margin-top: 10px;
        font-size: 0;
        line-height: 17px;
        text-align: center;
        .header-desc-label {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #999999;
          margin-left: 45px;
          &:first-child {
            margin-left: 0;
          }
        }
        .header-desc-value {
          font-family: ArialMT;
          font-size: 12px;
          color: #999999;
        }
      }
    }
    .detail-header-right {
      margin-left: 20px;
      text-align: center;
      .detail-process-line {
        font-size: 0;
        height: 15px;
        .process-line-number {
          display: inline-block;
          width: 46px;
          //overflow: hidden;
          font-size: 0;
          line-height: 15px;
          height: 15px;
          position: relative;
          .process-line-border {
            position: absolute;
            left: 50%;
            right: -50%;
            height: 3px;
            background: #C0D9FF;
            top: 6px;
            z-index: -1;
            &.active {
              background: #4A90E2;
            }
          }
          .process-line-icon {
            display: inline-block;
            width: 15px;
            height: 15px;
            line-height: 15px;
            text-align: center;
            font-size: 12px;
            color: #FFFFFF;
            background: #C0D9FF;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            &.active {
              background: #4A90E2;
            }
          }
        }
      }
      .process-line-texts {
        margin-top: 8px;
        text-align: center;
        .process-text-item {
          display: inline-block;
          width: 46px;
          .process-line-text {
            width: 46px;
            font-size: 12px;
            line-height: 12px;
            text-align: center;
            color: #999999;
            &.active {
              color: #4A90E2;
            }
          }
        }
      }
    }
  }
  .detail{
    margin-top:20px;
    background: #FFFFFF;
    .info{
      border-bottom: 1px dashed #E2E2E2;
      padding-bottom: 15px;
      .right{
        //float: left;
        font-size: 12px;
        color: #333333;
        div{
          height: 24px;
          line-height: 24px;
        }
        .detail-left-label {
          display: inline-block;
          width: 120px;
        }
      }
    }
  }
  .purchase{
    margin-top: 20px;
    border-bottom: 1px dashed #E2E2E2;
    padding-bottom: 20px;
    .right{
    }
  }
  .enclosure{
    margin-top: 20px;
    border-bottom: 1px dashed #E2E2E2;
    padding-bottom: 20px;
    .right{
      .upload-file{
        color: #1C7EEB;
        //width: 835px;
        text-align: left;
        cursor: pointer;
        &.order-file-item {
          padding-right: 8px;
          float: left;
          border-right: 1px solid #E2E2E2;
          margin-left: 8px;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            border-right: none;
          }
        }
        &:hover {
          color:#1C6EEB;
        }
      }
      .file-desc-text {
        margin-top: 10px;
        font-family: PingFangSC-Regular;
        line-height: 24px;
        font-size: 12px;
        color: #666666;
        text-align: justify;
      }
    }
  }
}
.publish-order-nav {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 12px;
  font-size: 16px;
  color: #333333;
  line-height: 20px;
  vertical-align: middle;
  height: 20px;
  border-left: 4px solid #21B065;
}
.el-table thead tr th {
  border-right: none;
  background: #F9F9F9;
  font-size: 12px;
  color: #333333;
  line-height: 24px;
}
.el-table tbody tr td {
  font-size: 12px;
  color: #333333;
  line-height: 18px;
}
.version-change-table {
  border: 1px solid #E2E2E2;
  //border-right: none;
}
.el-table__body tr:hover {
  //background: #F7FCF5 !important;
}
.el-table .cell {
  padding: 5px !important;
}
