.delivery-state {
  width: 980px;
  .up-step {
      width: 700px;
      margin: 33px auto;
      padding: 26px 0 33px 0;
      .step-item {
        position: relative;
        .el-step__head.is-finish {
          color: #4A90E2;
          border: 0 none;
          .el-step__line {
            height: 3px;
            background: #4A90E2;
          }
        }
        .el-step__head {
          .el-step__line {
            top: 8px;
            height: 3px;
            background: #C0D9FF;
          }
        }
        .el-step__head.is-wait {
          border: 0 none;
          .el-step__icon.is-text {
            background: #C0D9FF;
          }
        }
        .el-step__icon.is-text {
          background-color: #4A90E2;
          border: 0 none;
          .el-step__icon-inner {
            color: white;
            font-size: 12px;
            font-weight: normal;
          }
        }
        .el-step__icon {
          width: 15px;
          height: 15px;
        }
        .el-step__title {
          font-size: 12px;
          color: #999999;
        }
        .el-step__title.is-finish {
          font-size: 12px;
          color: #999999;
        }
        .el-step__title.is-process {
          font-size: 12px;
          color: #999999;
        }
        .step-pro {
          position: absolute;
          top:0;
          left: 0;
        }
      }
      .step-item::before {
        content: '';
        position: absolute;
        top: -20px;
        left: 50%;
        margin-left: -24px;
        color: #999;
        font-size: 12px;
      }
      .step-active.step-item::before {
        color: #4A90E2;
      }
      .step-item:nth-child(1)::before {
        content: '待发货';
        margin-left: -20px;
      }
      .step-item:nth-child(2)::before {
        content: '已发货';
        margin-left: -20px;
      }
      .step-item:nth-child(3)::before {
        content: '到货待签收';
        margin-left: -28px;
      }
      .step-item:nth-child(4)::before {
        content: '已签收';
        margin-left: -20px;
      }
    }
  .state-now {
    width: 100%;
    height: 130px;
    background: rgba(241, 129, 21, 0.04);
    border: 1px solid #F3DAC2;
    padding: 30px 98px;
    .icon {
      float: left;
      width: 50px;
      .warning {
        font-size: 47px;
        color: #f18115;
      }
    }
    .detail {
      float: left;
      margin-left: 10px;
      .state {
        font-size: 14px;
        color: #333333;
        font-weight: bold;
      }
      .operate {
        margin-top: 20px;
        font-size: 12px;
        color: #333333;
      }
    }
  }
  .table {
    margin-top: 20px;
    width: 100%;
    padding: 30px 25px 70px 25px;
    border: 1px solid #e2e2e2;
    .top-20 {
      margin-top: 20px;
    }
    .base-info {
      text-align: left;
      border-bottom: 1px solid #e2e2e2;
      .title {
        float: left;
        width: 60px;
        color: #999;
      }
      .info {
        float: left;
        margin-left: 20px;
        .line {
          margin-bottom: 10px;
          .name {
            float: left;
            font-size: 12px;
            color: #333333;
            width: 100px;
          }
          .value {
            float: left;
            font-size: 12px;
            color: #333333;
          }
        }
      }
    }
    .logistics-info {
      margin-top: 30px;
      border-bottom: 1px solid #e2e2e2;
      .title {
        float: left;
        width: 60px;
        color: #999;
      }
      .info {
        float: left;
        margin-bottom: 10px;
        .line:nth-child(1) .el-input__inner {
          background-image: linear-gradient(-180deg, #FFFFFF 0%, #F6F6F6 100%);
        }
        .line {
          margin-bottom: 10px;
          .name {
            float: left;
            margin-right: 10px;
            width: 120px;
            text-align: right;
            span {
              color: #FF4C4C;
              padding-right: 5px;
            }
          }
          .value {
            float: left;
            .el-input, .el-input__inner {
              margin-top: -5px !important;;
              width: 200px !important;;
              height: 30px !important;;
              padding: 0 11px;
              border-radius: 0;
            }
            .el-input__suffix {
              margin-top: -5px !important;
            }
            span {
              color: #FF4C4C;
              padding-left: 20px;
            }
          }
        }
      }
    }
    .delivery-info {
      margin-top: 30px;
      border-bottom: 1px solid #e2e2e2;
      .title {
        float: left;
        width: 60px;
        color: #999;
      }
      .info {
        float: left;
        margin-top: -10px;
        margin-bottom: 20px;
        width: 845px;
        .cell {
          font-size: 12px;
          color: #333;
          overflow: visible;
          padding: 0 9px !important;
        }
        .el-input__inner {
          width: 70px;
          height: 30px;
          text-align: center;
        }
        .el-table th, .el-table td {
          padding: 7px 0;
        }
        .el-table th.is-leaf, .el-table td {
          border-right: 0;
        }
      }
    }
    .remarks-info {
      margin-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #e2e2e2;
      .title {
        float: left;
        width: 60px;
      }
      .info {
        position: relative;
        float: left;
        width: 845px;
        textarea {
          width: 845px;
          height: 120px !important;
          border-radius: 0;
        }
        .num {
          position: absolute;
          bottom: 2px;
          right: 5px;
          color: #999;
        }
      }
    }
    .sure-btn {
      margin-top: 40px;
      width: 100%;
      text-align: center;
      .el-button {
        width: 100px;
        height: 40px;
        border-radius: 2px;
        border: 1px solid #F48213;
        background-image: linear-gradient(-180deg, #FF9631 0%, #F18115 97%);
        span {
          cursor: pointer;
        }
      }
      .el-button:hover {
        opacity: 0.9;
      }
    }
  }
}
.el-select-dropdown {
  margin-left: 10px;
  margin-top: 0;
}
