.identify-router-page {
  width: 100%;
  .identify-router-nav {
    width: 100%;
    background: #fff;
  }
  .identift-router-wrapper {
    width: 100%;
    padding: 20px 0 30px;
    background: #F7F7F7;
  }
  .setting-nav {
    background: #FFFFFF;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.06);
    height: 80px;
    position: relative;
    z-index: 1;
    .setting-nav-body {
      width: 1200px;
      margin: 0 auto;
      .logo {
        width: 143px;
        height: 45px;
        margin-top: 18px;
        margin-right: 50px;
        background: url(../../../assets/person/securitySettings/logo2x.png) no-repeat;
        background: image-set(url(../../../assets/person/securitySettings/logo2x.png) 2x, url(../../../assets/person/securitySettings/logo3x.png) 3x) no-repeat;
        background-size: contain;
        cursor: pointer;
      }
      .setting-nav-right {
        float: right;
        //width: 200px;
        height: 80px;
        line-height: 80px;
        //background: red;
        > img {
          height: 27px;
          vertical-align: middle;
        }
      }
    }
  }
}
