.identify-result-page {
  position: relative;
  width: 1200px;
  margin: 0 auto 80px;
  background: #fff;
  .identify-result-main {
    padding-top: 55px;
    padding-bottom: 20px;
    background: #F3FDED;
    border: 1px solid #A2D087;
    .identify-result-title {
      margin: 0 150px;
      font-family: PingFangSC-Regular;
      font-size: 26px;
      line-height: 37px;
      color: #333333;
      letter-spacing: 0;
      text-align: center;
      padding-bottom: 43px;
      border-bottom:  1px dotted #8EC170;;
    }
    .identify-result-tips {
      margin-top: 22px;
      font-family: PingFangSC-Regular;
      font-size: 16px;
      color: #333333;
      text-align: center;
    }
  }
  .identify-btn-part {
    padding: 50px 0;
    text-align: center;
    .identify-back-btn {
      margin: 0 auto;
      width: 150px;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      color: #666666;
      text-align: center;
      background-image: linear-gradient(0deg, #F7F7F7 0%, #FFFFFF 100%);
      border: 1px solid #DDDDDD;
      border-radius: 3px;
      cursor: pointer;
    }
  }
  .identify-service-part {
    position: absolute;
    left: 0;
    bottom: -50px;
    z-index: 3;
    width: 100%;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #999999;
    text-align: center;
    .service-part-right {
      color: #2A2A2A;
    }
  }
}
