.project-management{
  width:950px;
  .requirement-title {
    border-bottom:1px solid #E2E2E2 !important;
    .requisition-nav {
      border-bottom:0px;
      .is-active {
        font-size: 16px;
        color: #F18115;
        border-bottom: 2px solid #F18115;
      }
      li {
        height: 50px;
        margin-top: 16px;
        line-height: 50px;
        padding-left: 18px;
        padding-right: 0;
        font-size: 16px;
        color: #333333;
        //font-weight: 600;
        span {
          display: inline-block;
          height: 16px;
          border-right: 1px solid #E2E2E2;
          margin-left: 18px;
        }
      }
      li:last-child{
        span{
          border:0px;
        }
      }
    }
  }
  .search-title {
    height: 70px;
    padding: 20px 0 20px 10px;
    margin-right: 10px;
    .search-txt {
      span {
        font-size: 14px;
        color: #333333;
      }
      input {
        width: 220px;
        height: 30px;
        line-height: 30px;
        background: #FFFFFF;
        border: 1px solid #D2D2D2;
        box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.10);
        padding-left: 11px;
      }
      input:-moz-placeholder {
        color: #999;
      }
      input::-moz-placeholder {
        color: #999;
      }
      input:-ms-input-placeholder {
        color: #999;
      }
    }
    .search-time {
      margin-left: 10px;
      span.txt {
        font-size: 14px;
        color: #333333;
        line-height: 30px;
      }
      .start-time {
        width: 150px;
        .start-input {
          width: 150px;
          input {
            background: #FFFFFF;
            border: 1px solid #D2D2D2;
            box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.20);
            height: 30px;
            border-radius: 0;
            font-size: 12px;
            color: #999999;
          }
          .el-input__icon {
            line-height: 30px;
            margin: 0;
          }
        }
      }
      i.line {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        color: #333333;
        margin: 0 11px;
      }
      .end-time {
        width: 150px;
        .end-input {
          width: 150px;
          input {
            height: 30px !important;
            border-radius: 0;
            background: #FFFFFF;
            border: 1px solid #D2D2D2;
            box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.20);
            font-size: 12px;
            color: #999999;
          }
          .el-input__icon {
            line-height: 30px;
            margin: 0;
          }
        }
      }
    }
    .search-btn {
      background-image: linear-gradient(-180deg, #FF9631 0%, #F18115 97%);
      border: 1px solid #F48213;
      border-radius: 2px;
      font-size: 12px;
      color: #FFFFFF;
      width: 50px;
      height: 28px;
      line-height: 26px;
      margin-left: 10px;
      margin-top: 1px;
      cursor: pointer;
    }
  }
  .project-box{
    border: 1px solid #E2E2E2;
    overflow:hidden;
    width:950px;
    .label,.content{
      padding:0 15px;
      li{
        float:left;
        hieght:39px;
        line-height:39px;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #333333;
      }
      .label-1{
        width:136px;
        .link{
          font-family: ArialMT;
          color: #1C6EEB !important;
        }
      }
      .label-2{
        width:85px;
      }
      .label-3{
        width:159px;
      }
      .label-4{
        width:84px;
      }
      .label-5{
        width:96px;
      }
      .label-6{
        width:107px;
        .icon-icon-test1{
          font-size: 12px;
          color: #21B065;
        }
        .icon-icon-test{
          font-size: 12px;
          color: #F18115;
        }
      }
      .label-7{
        width:185px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        a{
          color: #1C6EEB;
          i{
            font-size:15px;
            color:#1c6eeb;
          }
        }
      }
      .label-8{
        width:64px;
        button{
          background-image: linear-gradient(-180deg, #FF9631 0%, #F18115 97%);
          border: 1px solid #F48213;
          border-radius:2px;
          color: #FFFFFF;
          width:64px;
          height:28px;
          line-height:26px;
          font-family: PingFangSC-Regular;
        }
      }
    }
    .label{
      background: #F7F7F7;
      height:40px;
    }
    .content{
      border-top: 1px solid #E2E2E2;
      overflow:hidden;
      li{
        height:54px;
        line-height:54px;
      }
    }
    .content:nth-child(odd){
      background-color:#fcfcfc;
    }
  }
  .project-pagination{
    overflow:hidden;
    text-align:center;
    margin-top:40px;
    margin-bottom:20px;
  }
}
