.requirement-body {
  padding-left: 15px;
  .requirement-title {
    .requisition-nav {
      .is-active {
        font-size: 16px;
        color: #21B065;
        border-bottom: 2px solid #21B065;
      }
      li {
        height: 50px;
        margin-top: 16px;
        line-height: 50px;
        padding-left: 18px;
        padding-right: 0;
        font-size: 16px;
        color: #333333;
        //font-weight: 600;
        span {
          display: inline-block;
          height: 16px;
          border-right: 1px solid #E2E2E2;
          margin-left: 18px;
        }
      }
    }
  }
  .search-title {
    height: 70px;
    padding: 20px 0 20px 10px;
    margin-right: 10px;
    .search-txt {
      span {
        font-size: 14px;
        color: #333333;
      }
      input {
        width: 220px;
        height: 30px;
        line-height: 30px;
        background: #FFFFFF;
        border: 1px solid #D2D2D2;
        box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.10);
        padding-left: 11px;
      }
      input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #999;
      }
      input:-moz-placeholder {
        color: #999;
      }
      input::-moz-placeholder {
        color: #999;
      }
      input:-ms-input-placeholder {
        color: #999;
      }
    }
    .search-time {
      margin-left: 10px;
      span.txt {
        font-size: 14px;
        color: #333333;
        line-height: 30px;
      }
      .start-time {
        width: 150px;
        .start-input {
          width: 150px;
          input {
            background: #FFFFFF;
            border: 1px solid #D2D2D2;
            box-shadow: inset 1px 1px 3px 0 rgba(0,0,0,0.20);
            height: 30px;
            border-radius: 0;
            font-size: 12px;
            color: #999999;
            padding-right: 0;
          }
          .el-input__icon {
            line-height: 30px;
            margin: 0;
          }
        }
      }
      i.line {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        color: #333333;
        margin: 0 11px;
      }
      .end-time {
        width: 150px;
        .end-input {
          width: 150px;
          input {
            height: 30px;
            border-radius: 0;
            background: #FFFFFF;
            border: 1px solid #D2D2D2;
            box-shadow: inset 1px 1px 3px 0 rgba(0,0,0,0.20);
            font-size: 12px;
            color: #999999;
            padding-right: 0;
          }
          .el-input__icon {
            line-height: 30px;
            margin: 0;
          }
        }
      }
    }
    .search-btn {
      background-image: linear-gradient(-180deg, #3ACA78 0%, #21A75A 100%);
      border: 1px solid #2BB566;
      border-radius: 2px;
      font-size: 12px;
      color: #FFFFFF;
      width: 50px;
      height: 28px;
      line-height: 27px;
      margin-left: 10px;
      margin-top: 1px;
      cursor: pointer;
    }
  }
  .requirement-content {
    .list-title {
      width: 950px;
      height: 40px;
      line-height: 40px;
      margin-bottom: 20px;
      background: #F7F7F7;
      border: 1px solid #E2E2E2;
      div {
        font-size: 12px;
        color: #333333;
        float: left;
      }
      .purchase {
        width: 400px;
        padding-left: 20px;
      }
      .expectation-date {
        width: 235px;
        text-align: center;
      }
      .list-title-status {
        width: 150px;
        text-align: center;
      }
      .list-title-operation {
        width: 160px;
        text-align: center;
      }
    }
    .list-content {
      width: 950px;
      border: 1px solid #E2E2E2;
      margin-bottom: 20px;
      .list-infomation {
        width: 950px;
        height: 35px;
        line-height: 35px;
        background: #F3F3F3;
        padding:0 20px 0 14px;
        font-size: 12px;
        color: #666666;
        border-bottom: 1px solid #E2E2E2;
        .demand-odd {
          font-size: 12px;
          color: #666666;
          margin-right: 30px;
          .demand-router {
            font-size: 12px;
            color: #1C6EEB;
            cursor: pointer;
          }
        }
        .man-info {}
      }
      .list-txt {
        width: 950px;
        .list-table {
          width: 100%;
        }
        .entity {
          width: 400px;
          font-size: 12px;
          color: #333333;
          padding: 0 30px 0 15px;
          height: 75px;
          vertical-align: middle;
          border-right: 1px solid #E2E2E2;
          font-weight: 600;
        }
        .date {
          width: 235px;
          height: 75px;
          border-right: 1px solid #E2E2E2;
          text-align: center;
        }
        .status {
          width: 150px;
          height: 75px;
          line-height: 75px;
          border-right: 1px solid #E2E2E2;
          text-align: center;
        }
        .operation {
          width: 160px;
          height: 75px;
          line-height: 75px;
          text-align: center;
          .el-icon-arrow-down {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 1px solid #cccccc;
            line-height: 12px;
            font-size: 10px;
          }
          .el-icon-arrow-up {
            font-size: 10px;
            display: inline-block;
            width: 14px;
            height: 14px;
            vertical-align: middle;
            line-height: 12px;
            background-color: #555555;
            color: #fff;
          }
        }
      }
      .follow-me {
        .link-to-window {
          font-size: 12px;
          color: #1C6EEB;
          cursor: pointer;
        }
        .icon {
          display: inline-block;
          width: 14px;
          height: 14px;
          vertical-align: top;
          margin-right: 4px;
        }
        .green {
          font-size: 10px;
          color: #21B065;
        }
        .red {
          font-size: 10px;
          color: #F18115;
        }
        .affirm {
          font-size: 12px;
          color: #21B065;
        }
        .reject {
          font-size: 12px;
          color: #F18115;
        }
        .prepare {
          .btn {
            width: 50px;
            height: 24px;
            border-radius: 2px;
            cursor: pointer;
          }
          .yes {
            background-image: linear-gradient(-180deg, #3ACA78 0%, #21A75A 100%);
            border: 1px solid #2BB566;
            font-size: 12px;
            color: #FFFFFF;
            margin-right: 10px;
          }
          .no {
            font-size: 12px;
            color: #333333;
            background-image: linear-gradient(-180deg, #FFFFFF 0%, #F6F6F6 100%);
            border: 1px solid #E2E2E2;
          }
        }
        th {
          background: #FFFEF8;
          height: 28px;
          line-height: 28px;
          padding: 0;
          font-size: 12px;
          color: #333333;
          font-weight: 600;
          &:nth-child(1) {
            padding-left: 14px;
          }
          div {
            padding: 0;
          }
        }
        tr {
          background: #FFFEF8;
          border-bottom: 1px solid #EFEDE0;
          td:nth-child(1) {
            padding-left: 14px;
            padding-right: 20px;
          }
          td:nth-child(2) {
            padding-right: 20px;
          }
          td:nth-child(3) {
            padding-right: 28px;
            div {
              overflow: hidden;
              text-overflow:ellipsis;
              white-space: nowrap;
            }
          }
          td:nth-child(4) {
            padding-right: 24px;
          }
          td {
            padding: 5px 0;
            font-size: 12px;
            color: #333333;
            line-height: 18px;
            div {
              padding: 0;
              margin: 0;
            }
          }
        }
      }
    }
    .list-content.list-show {
      .follow-me {
        position: relative;
        height: auto;
        overflow: visible;
        &::before {
          content: '';
          position: absolute;
          width: 950px;
          height: 6px;
          opacity: 0.5;
          background-image: linear-gradient(-180deg, #DFDFDF 3%, rgba(255,255,255,0.00) 100%);
          top: 0;
          left: 0;
          z-index: 2;
        }
      }
    }
    .project-pagination{
      overflow:hidden;
      text-align:center;
      margin-top:40px;
    }
    .no-data {
      overflow: hidden;
      margin-left: 418px;
      margin-top: 136px;
      .img {
        width: 115px;
        height: 115px;
        background: url(../../../../assets/person/buyer/no_data_2x.png) no-repeat;
        background: image-set(url(../../../../assets/person/buyer/no_data_2x.png) 2x, url(../../../../assets/person/buyer/no_data_3x.png) 3x) center;
        background-size: contain;
      }
      .des {
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #666666;
        width: 115px;
        text-align: center;
        line-height: 24px;
        margin-top: 10px;
      }
    }
  }
  .requirement-dialog-main {
    .el-dialog {
      width: 700px !important;
      height: 435px;
      border: 5px solid #e2e2e2;
      .el-dialog__header {
        height: 35px;
        background: #F7F7F7;
        line-height: 35px;
        padding: 0 10px 0 18px;
        .el-dialog__headerbtn {
          top: 6px;
        }
        span {
          font-size: 14px;
          color: #333333;
          font-weight: 600;
        }
      }
      .el-dialog__body {
        width: 700px;
        padding: 40px 105px 0 105px;
        .dialog-body {
          .dialog-title {
            width: 360px;
            margin: 0 auto;
            .dialog-icon {
              width: 47px;
              height: 47px;
              margin-right: 25px;
              margin-top: 12px;
              span {
                font-size: 47px;
                line-height: 47px;
                color: #F18115;
              }
            }
            .dialog-text {
              vertical-align: middle;
              h2 {
                font-size: 14px;
                color: #333333;
                line-height: 24px;
                font-weight: 600;
              }
              p {
                font-size: 12px;
                color: #666666;
                line-height: 24px;
              }
            }
          }
          .dialog-content {
            margin-top: 30px;
            .list-table {
              border: 1px solid #E2E2E2;
              width: 490px;
              .list-item {
                border-bottom: 1px solid #E2E2E2;
                width: 490px;
                height: 40px;
                line-height: 40px;
                .list-title {
                  float: left;
                  width: 90px;
                  text-align: center;
                  background: #F9F9F9;
                  font-size: 12px;
                  color: #333333;
                  font-weight: 500;
                }
                .list-text {
                  float: left;
                  width: 400px;
                  padding-left: 15px;
                  font-size: 12px;
                  color: #333333;
                  a {
                    font-size: 12px;
                    color: #1C6EEB;
                    cursor: pointer;
                  }
                }
              }
            }

          }
        }
      }
      .el-dialog__footer {
        width: 700px;
        margin-top: 20px;
        text-align: center;
        .affirm {
          width: 50px;
          height: 28px;
          line-height: 28px;
          text-align: center;
          font-size: 12px;
          color: #FFFFFF;
          background-image: linear-gradient(-180deg, #3ACA78 0%, #21A75A 100%);
          border: 1px solid #2BB566;
          border-radius: 2px;
          padding: 0;
          font-weight: 500;
        }
        .cancel {
          width: 50px;
          height: 28px;
          line-height: 28px;
          text-align: center;
          font-size: 12px;
          color: #333333;
          background-image: linear-gradient(-180deg, #FFFFFF 0%, #F6F6F6 100%);
          border: 1px solid #E2E2E2;
          border-radius: 2px;
          padding: 0;
          font-weight: 500;
        }
      }
    }
  }
}
